<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Forward everything to the public directory if not already there
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
